[submodule "Carthage/Checkouts/LlamaKit"]
	path = Carthage/Checkouts/LlamaKit
	url = https://github.com/modocache/LlamaKit.git
[submodule "Carthage/Checkouts/Assertions"]
	path = Carthage/Checkouts/Assertions
	url = https://github.com/antitypical/Assertions.git
[submodule "Carthage/Checkouts/OHHTTPStubs"]
	path = Carthage/Checkouts/OHHTTPStubs
	url = https://github.com/ishkawa/OHHTTPStubs.git
