[submodule "Carthage/Checkouts/Result"]
	path = Carthage/Checkouts/Result
	url = https://github.com/antitypical/Result.git
[submodule "Carthage/Checkouts/OHHTTPStubs"]
	path = Carthage/Checkouts/OHHTTPStubs
	url = https://github.com/AliSoftware/OHHTTPStubs.git
