language: objective-c
osx_image: xcode7.2

env:
  global:
    - LC_CTYPE=en_US.UTF-8
    - secure: kg5TFTNojZ9VOYHApONRUXSbwu+erLs3WSNNX/CKbkO8eQnBo+1koXHnEtOTQ641YRAVpFLX4QK7pbRfmWWWzR6ntNgXmvE4IUa1ggsUlcorApLq+cQin1Tp1es0/Ul0nYLJN8WXbcObKSLy8FOmHkrMWYuffMtH9e7qEL01ei0=

before_install:
  - brew update 

install:
  - carthage bootstrap --use-submodules --no-build
  - pod repo update --silent

script:
  - pod lib lint
  - set -o pipefail
  - xcodebuild test -workspace APIKit.xcworkspace -scheme APIKit -sdk iphonesimulator -destination 'name=iPhone 6,OS=9.1' | xcpretty -c
  - xcodebuild test -workspace APIKit.xcworkspace -scheme APIKit | xcpretty -c
  - xcodebuild build -workspace APIKit.xcworkspace -scheme APIKit -sdk appletvos | xcpretty -c
  - xcodebuild build -workspace APIKit.xcworkspace -scheme APIKit -sdk watchos | xcpretty -c

before_deploy:
  - ./script/import-certificates
  - carthage build --no-skip-current
  - carthage archive APIKit

deploy:
  provider: releases
  api_key:
    secure: I/cUbYW2BO/Yej52SHoHEmsjhP27jZuQl7tTvjliNzDAmEeYp6HR4fMnxUUUqcntaqrk6ZJauQ0GjbcDqkekPUAZAaUCsT5kh0qqGK8yMpSTd+FhBHNjqOvPimwGqKn9HOmGIJQnH8LqG+1esZhvhQEJJ0rpRSvapETUIcrZewI=
  file: APIKit.framework.zip
  skip_cleanup: true
  on:
    repo: ishkawa/APIKit
    tags: true

notifications:
  email: false
