branches:
  only:
    - master

env:
  global:
    - LC_CTYPE=en_US.UTF-8

matrix:
  include:
    - &swiftpm
      name: SwiftPM / Darwin / Swift 5.0
      os: osx
      language: generic
      osx_image: xcode10.3
      script:
        - swift build
        - swift test

notifications:
  email: false
